* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(245, 100, 111, 0.2);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: rgba(245, 169, 127, 0.7);
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


/* you can set a style on hover for any module like this */
#mpris:hover,
#network:hover,
#clock:hover,
#pulseaudio:hover {
    background-color: rgba(245, 169, 127, 0.7);
}


#clock,
#window,
#battery,
#workspaces button,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris {
    transition: 0.3s;
    padding: 0 10px;
    color: #4c4f69;
    border-style: solid;
    border-width: 2px;
    border-color: #f0c6c6;
    border-radius: 18px;
    background: rgba(245, 169, 127, 0.5)
}




